.canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
}

/* CSS for mobile devices */
@media only screen and (max-width: 768px) {
  .canvas-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}


@font-face {
  font-family: Matrix;
  src: url(../assets/Matrix-Code.ttf) format('truetype');
}

@font-face {
  font-family: W95;
  src: url('../W95FA.otf') format('opentype');
}


.message-container {
  position: absolute;
  top: 10%;
  color: #0F0;
  font-family: 'Courier New', monospace;

  padding: 20px;
  z-index: 10;
  max-width: 90vw;
  word-wrap: break-word;
  /* Wrap text to next line */
  box-sizing: border-box;
  /* Include padding and border in the width */
}


.typing-first {
  width: 10ch;
  animation: typing1 2s steps(10), blink .9s step-end infinite alternate, colorChange 0.01s 2s forwards, blinkerOff 0.01s 2.01s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: transparent;
  font-family: monospace;
  font-size: 2em;
  color: transparent;
  /* color: #23ff00; */
  animation-delay: 1s;
}



.typing-second {
  width: 21ch;
  color: transparent;
  animation: typing1 3s steps(23), blink .9s step-end infinite alternate, colorChange 0.01s 3s forwards, blinkerOff 0.01s 3.01s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  /* color: #23ff00; */
  animation-delay: 3s;
}

.typing-third {
  width: 15ch;
  animation: typing1 2.5s steps(15), blink .9s step-end infinite alternate, colorChange 0.01s 2.5s forwards, blinkerOff 0.1s 2.51s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: transparent;
  animation-delay: 7s;
}

.typing-fourth {
  width: 20ch;
  animation: typing1 2.7s steps(20), blink .9s step-end infinite alternate, colorChange 0.01s 2.7s forwards, blinkerOff 0.1s 2.71s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: transparent;
  animation-delay: 10s;
}

@keyframes typing1 {
  from {
    width: 0;
    color: transparent;
  }
  0%{
    width: 0;
    color: transparent;
  }

  99% {
    width: 100%;
    color: #23ff00;
  }

  to {
    width: 100%;
    color: #23ff00;
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes colorChange {
  to {
    color: #23ff00;
    /* border-right: none; */
  }
}

/* .matrix-text-effect {
  text-shadow:
    0 0 5px #0F0,
    0 0 10px #0F0,
    0 0 20px #0F0,
    0 0 40px #0F0,
    0 0 80px #0F0,
    0 0 120px #0F0;
} */

@keyframes blinkerOff {
  to {
    border-right-color: transparent;
  }
}


.matrix-button {
  background-color: #111;
  border: 1px solid #0f0;
  color: #0f0;
  font-family: monospace;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

.matrix-button:hover {
  background-color: #0f0;
  color: #111;
}
