@font-face {
    font-family: Microsoft;
    src: url('../C64_Pro_Mono-STYLE.ttf');
  }

.taskbar {
    z-index: 999;
    display: flex;
    align-items: center;
    
    position: absolute;
    bottom: 0;

    width: calc(100vw - 3rem);
    height: 2rem;
    padding: .75rem 1.5rem;

    background-color: #bdbebd;
    font-family: Microsoft;
    /* font-weight: bold; */
    
}

.taskbar > * {
    display: inline-block;
}

.taskbar img {
    height: 120%;
}

.taskbar img:hover{
    opacity: .5;
}

.taskbar .container {
    flex-grow: 1;
    display: flex;

    justify-content: center;
    border-right-color: black;
    border-width: medium;
}

.taskbar .time {
    border-left-color: black;
    text-align: center;
    font-size: 10px;
    line-height: 1.25rem;

}

.taskbar .second{
    padding-left: 2em;
}

/* #background {
    background-image: url('../icons/thehills.jpeg');
    
    z-index: -1;
    font-family: Microsoft;
} */

