.window {
    display: flex;
    flex-direction: column;
    position: absolute;

    overflow: hidden;

    font-size: 20px;
    width: 675px;
    height: 500px;

    border: 8px solid grey;

    z-index: 10;
}

.border {
    display: flex;
    background-color: #008080;
    cursor: pointer;
    width: 100%;
    height: 35px;

    z-index: 2;
}

.border span {
    float: left;
    margin: auto;
    margin-left: 10px;
    color: white;
}

.closeBtn {
    background-color: indianred;
}

.openBtn {
    background-color: cornflowerblue;
}

.closeBtn,
.openBtn {
    display: flex;
    float: right;
    height: 100%;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
}

.closeBtn:hover,
.openBtn:hover {
    filter: brightness(1.09);
}

.closeBtn a,
.openBtn a {
    display: inline-block;
}

.content {
    flex-grow: 1;
    display: flex;
}

iframe {
    border: none;
    flex-grow: 1;
}

object {
    border: none;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    flex-grow: 1;
}